include includes/header.pug
    title=titulo
body
    include includes/nav.pug
    div(class="d-flex")
        div(class="")
            a(href="/formatoapa") Formato APA
        div(class="")
            a(href="/formatoieee") Formato APA
    include includes/footer.pug